@charset "UTF-8";



/* YOUR CUSTOM CSS */

.location {
    line-height: 23px;
}

.form-control:focus {
    border-color: #f1f1f1;
    box-shadow: none;
}

.parallax-window#short {
    /*height: auto;*/
    /*min-height: 500px;*/
}

#logo img {
    margin-top: -10px;
}

.shop-tit {
    display: block;
    color: #fff;
}

.shop-tit:hover {
    border: 0;
    color: #FF6D00 !important;
    text-decoration: none !important;
}

.social-reg {
    padding: 10px;
    background: #fff;
    color: #333 !important;
    display: block;
    font-size: 16px;
}

.social-reg:hover,
.social-reg:focus {
    text-decoration: none !important;
    opacity: .7;
}

.or {
    margin-top: 10px;
    color: #fff;
}

.rate {
    font-weight: bold;
    font-size: 17px;
    margin-bottom: 0;
}

.bg-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0 auto 20px;
}

.profile-left {
    padding: 20px;
}

.profile-right {
    padding: 20px;
}

.m-0{
	margin: 0 !important;
}

.prof-tit{
	margin-bottom: 20px;
	margin-top: 0;
}

.submit{
	background: #ff6d00;
    font-size: 15px;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: #fff;
    cursor: pointer;
    padding: 12px 20px;
    outline: none;
    font-size: 12px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-bottom: 5px;
}

.submit:hover,
.submit:focus{
	background: #333;
}

.pur-link{
	margin: 10px 0;
    padding: 7px 10px;
    font-size: 11px;
    text-transform: initial;
}

.address-box{
	padding: 20px;
	border: 1px solid #ededed;
	border-radius: 4px;
	margin-bottom: 30px;
}

.add-txt{
	font-size: 16px;
    line-height: 30px;
}

.prof-head .submit{
	margin-bottom: 20px;
}

.pop-tit{
	color: #fff;
}

#product-list .close-link{
	color: #333;
}

@media screen and (max-width: 767px) {
    #logo img {
        margin-top: 0px;
    }
}